
body::-webkit-scrollbar {  
    width: 6px;  
    background-color: rgb(251, 245, 245);  
} 
body::-webkit-scrollbar-thumb  
{  
    background-color: #555;  
}    
.heade{
    width: 100%;
    position: fixed;
    z-index: 20;
}
.nav-box{
    width: 100%;
    height: 50px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
.nav{
    width: 1200px;
    height: 50px;
    margin: auto;
}
.nav-box:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -30px;
    left: 0;
    border-style: solid;
    border-width:0 0 30px 100vw;
    border-color: transparent #ffffff;
}
.shadow{
    width: 100%;
    border-bottom: 1px solid #fff;
    transform: rotate(-1.2deg);
    margin-top: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
}
/* 导航logo */
.logo-home img{
    vertical-align: bottom;
}
.logo-home{
    display: inline-block;
    width: 130px;
    height: 50px;
}
.logo-home span{
    display: inline-block;
    height: 50px;
    line-height: 72px;
    vertical-align: bottom;
    font-size: 25px;
    font-weight: bold;
}
/*导航选项*/
.nav-con{
    height: 50px;
    float: right;
    line-height: 55px;
    /* border: 1px solid black; */
}
.nav-con a{
    display: inline-block;
    padding: 0 15px;
    margin-right: 15px;
    font-size: 14px;
    transition: all 0.3s;
}
.nav-con a:hover{
    color: #f70;
}
.concent{
    width: 100%;
    /* height: 1500px; */
    overflow: hidden;
}
/*第一图*/
.con1{
    width: 100%;
    height: 680px;
    background:url("../img/con1.jpg")no-repeat 0 0;
    padding-top: 1px;
}
.con1 h2{
    width: 1200px;
    color: #fff;
    font-size: 50px;
    font-family: "Georgia" ;
    margin: auto;
    margin-top: 230px;
    margin-bottom: 60px;
    font-weight: bold;
    text-shadow: 5px 5px 10px #a3df24;
    /* rgb(116, 115, 115) */
}
.con1 p{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    text-shadow: 4px 4px 8px rgb(59, 58, 59);
}
.con1 .guanyu{
    margin-top: 40px;
}
.con1 .guanyu span{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.1);
    /* background: #f39f72; */
}
.con1 .guanyu span:hover{
    background: #fff;
}
/*第二图*/
.con2:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -40px;
    left: 0;
    border-style: solid;
    border-width:40px 100vw 0 0;
    border-color: transparent #222;
}
.con2{
    width: 100%;
    height: 610px;
    background: #222;
    position: relative;
    padding-top: 150px;
    box-sizing: border-box;
    box-shadow:0px -8px 15px #222 inset;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#222),color-stop(1,#333));
}
.con2 h3{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    color: #fff;
    text-align: center;
}
.con2 p{
    text-align: center;
    color: #ddd;
    margin-top: 30px;
    font-size: 21px;
}
.con2-pic{
    width: 590px;
    height: 185px;
    background: url("../img/con2.png")no-repeat;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -295px;
}
/*第三图*/
.con3{
    width: 100%;
    height: 690px;
    padding-top: 190px;
    box-sizing: border-box;
    background: rgb(233, 233, 233);
}
.nodejs{
    width: 100px;
    height: 100px;
    margin:0 auto ;
    background: url("../img/node.js.png")no-repeat;
    background-size:100px 100px; 
}
.con3 .con3-p1{
    color: #80bd01;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.con3 .con3-p2{
    font-size: 24px;
    color: #555;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}
.con3 .con3-p3{
    width: 380px;
    padding: 0 25px;
    margin: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top:15px;
    background: #555;
    color: #fff;
}
.con3 .con3-p3 a{
    display: inline-block;
    padding-left: 10px;
    color: #80bd01;
}
.con3 .con3-p3 a:hover{
    text-decoration: underline;
}
/* 第四图 */
.con4{
    width: 100%;
    height:300px;
    /* background: #27a3ca; */
    /* background-image: -webkit-gradient(linear,left top,right bottom,color-stop(.5,#2a97e4),color-stop(1,#21b3ac)); */
    background: url("../img/con4-bg.jpg")
}
/* 第五图 */
.con5{
    width:100%;
    height: 150px;
    background: #fff;
    text-align: center;
    line-height: 150px;
    font-size: 14px;
}
.con5 a{
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 35px; 
    border-radius:3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin:0 15px;
}
.con5-left{
    color: #ffffff;
    background: -webkit-linear-gradient(top,#fa7d3c,#f55f10); 
}
.con5-right{
    color: #333;
    border: 1px solid #d3d3d3;
}
.con6{
    width: 100%;
    height: 350px;
    background: #333333;
    padding: 30px 0;
    box-sizing: border-box;
}
.food{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.food-top{
    width: 100%;
    height: 130px;
}
.foottop-left{
    width: 600px;
    float: left;
}
.foottop-midd{
    width: 280px;
    float: left;
}
.foottop-right{
    width: 280px;
    float: left;
}
.food-top h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(165, 161, 161);
}
.food-top p{
    color: #888;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.food-top a{
    color: #888;
    font-size: 14px;
    transition: all 0.5s;
}
.food-top a:hover{
    color: #fff;
    text-decoration: underline;
}
.guanyu span{
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #555;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
    vertical-align: bottom;
    padding: 7px 7px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.guanyu span:hover{
    background:#fff;
}
.guanyu span a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.food-midd{
    width: 1200px;
    height: 0;
    border-bottom:1px solid #444; 
}
.food-bottom{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
.food-bottom P{     
    color: #888;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
}
.food-bottom P a{
    color: rgb(204, 201, 201);
    transition: all 0.5s;
    text-decoration: underline;
}
.food-bottom P a:hover{
    color: #f70;
}
.suo{
    text-align: center;
    margin-top: 20px;
}
.suo input[type=text]{
    width: 200px;
    height: 30px;
    border: none;
    text-indent: 10px;
    margin-right: 5px;
    background: #444;
    color: #222;
    outline: none;
    border-radius:2px; 
    transition: all 0.5s;
}
.suo input[type=button]{
    width: 50px;
    height: 30px;
    background: #707070;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    border-radius:3px; 
    color: #222;
    transition: all 0.5s;
    outline: none;
}
.suo input[type=button]:hover{
    background: #fff;
}
.jing{
    text-align: center;
    height: 20px;
    margin-top: 35px;
    font-size: 12px;
    line-height: 16px;
}
.jing a{
    color: #888;
    transition: all 0.3s;
}
.jing a:hover{
    color: #fff;
    text-decoration: underline;
}
.jing img{
    vertical-align: top;
    margin-right: 5px;
}
/*首次进入遮罩层*/
.mark-b {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: -100vw;
    border-width: 100vh 100vw 0 0;
    border-style: solid;
    border-color: #222 transparent;
    z-index: 50;
}

.mark-w {
    width: 0;
    height: 0;
    position: fixed;
    bottom: 0vh;
    right: -100vw;
    border-width: 0 0 100vh 100vw;
    border-style: solid;
    border-color: yellow transparent;
    z-index: 50;
}

.mark-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #222;
    opacity: 0;
    display: none;
    z-index: 51;
}

.mark-con {
    width: 320px;
    height: 220px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -160px;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 100;
    box-shadow: 0px 0px 15px #888888;
    color: #fff;
    padding: 30px 30px;
    box-sizing: border-box;
    font-family: "微软雅黑";
    transform: rotateY(90deg);
    transition: all 0.8s;
}

.mark-con p {
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    color: rgb(224, 222, 222);
}

.mark-con .mark-con-title {
    color: #fff;
    margin-top: 15px;
    font-size: 19px;
    text-shadow: 1px 1px 1px #fff;
}

.mark-con a {
    font-size: 12px;
    color: #ccc;
    float: right;
    margin-top: 25px;
    transition: all 0.3s;
}
.mark-con a:hover{
    color: #fff;
    text-decoration: underline;
}
.checkbox{
    display: inline-block;
    margin-top: 26px;
    /* color: #fff; */
    color: #ee5a0b;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    /* vertical-align: middle; */
}
.checkbox input{
    width: 13px;
    height: 13px;
    vertical-align: middle;
}
/*回到顶部*/
.return-top{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: -70px;
    right: 25px;
    border-radius: 5px;
    background: url("../img/top1.png")no-repeat center ;
    background-size:40px 40px; 
    cursor: pointer;
    transition: all 0.4s;
}
.return-top:hover{
    background: url("../img/top2.png")no-repeat center;
    background-size:40px 40px; 
}
.return-top:hover .return-border{
    transform:rotate(1800deg);
}
.return-border{
    width: 60px;
    height: 60px;
    border-top: 2px solid #80bd01;
    box-shadow: 0px -2px 5px #888888;
    transition: all 3s;
    border-radius: 60px;
}






